<script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-firestore.js"></script>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span id="toolbar_name">Software Developer</span>
    <div class="spacer"></div>
    <a class="projects_title_label" href="#yuhong-projects">
      Projects
    </a>
    <a class="projects_title_label" href="#form-comment">
      Comment
    </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <img src="./assets/lyh.jpg"  id="lyh_img"/>
    <span id="yuhong-hey">Hey I am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yuhong Liu!</span>
    
    
  </div>

  <!-- Resources -->
  <h2 id="resource_yuhong">Introduction</h2>
  <p id="resource_content">I have good expereince in Frontend(HTML, CSS, JavaScript, React, Angular, Salesforce LWC/Aura/VisualForce), and good knowledge of 
    Backend(Express.js, Django, MangoDB, SQL, Spring, Salesforce APEX) together with Cloud storage(Salesforce, Firebase, AWS etc)</p>
  <!-- <button>Resume</button> -->
  <a href="https://github.com/YuhongLiuCA" id="git-profile" target="_blank">
    <button id="git-button">Github profile</button>
  </a>
  
  
  <div id="yuhong-projects">
    <app-project></app-project>
  </div>
 

  <!-- Footer -->
  <footer>    
    <form id="form-comment" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <h2 id="comment-title" >Any comments are appreciated</h2>
      <h3 *ngIf="commentThankyou" [ngStyle]="{'color': 'green' }">Thanks you for the comment! I have total {{commentNumber}} people who spend their valuable time to give me comment.</h3>
      <section id="comment_buttons">
        
          <button type="button" id="comment_feedback_yes" [ngStyle]="{'background-color': userFeedback == true ? 'rgb(1,161,248)' : '#ffffff' }" (click)="commentUserFeedbackYes()">Yuhong will reply your feedback</button>
          <button type="button" id="comment_feedback_no" [ngStyle]="{'background-color': userFeedback == true ? '#ffffff' : 'rgb(1,161,248)'}" (click)="commentUserFeedbackNo()">No need feedback from Yuhong</button>
        
        </section>
      
      <section>
        <label for="user_name" class="comment_label" *ngIf="userFeedback">NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input name="user_name" id="user_name" class="comment_input" formControlName="user_name" placeholder="Your name" *ngIf="userFeedback">
      </section>
      <section>
        <label for="user_number" class="comment_label" *ngIf="userFeedback">NUMBER&nbsp;&nbsp;&nbsp;</label>
        <input type="number" name="user_number" formControlName="user_number" id="user_number" class="comment_input" placeholder="&nbsp;Your phone number" *ngIf="userFeedback">
      </section>
      <section>
        <label for="user_email" class="comment_label" *ngIf="userFeedback">EMAIL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="email" name="user_email" formControlName="user_email" id="user_email" class="comment_input" placeholder="Your email" *ngIf="userFeedback">
      </section>
      <section>
        <label for="comment_feedback" class="comment_label">COMMENT</label>
        <textarea name="comment_feedback" formControlName="comment_feedback" id="commment_feedback" class="comment_input" placeholder="Your comment" rows="4" cols="40" required></textarea>
      </section>
      <section>
        <input type="submit" value="SEND" id="comment-submit">
      </section>
    </form>
    <a href="https://github.com/YuhongLiuCA/YuhongPortfolioSource" target="_blank" id="portfolio-link">
      <label class="comment_label" id="comment-protfolio">This protfolio using Angular and TypeScript, and originally store comments data on AWS, will switch to Firebase since my AWS account over 1 year now. Please click here to see source code.</label>
    </a>
  </footer>

</div>



<router-outlet></router-outlet>
